.waterfall {
  width: 660px;
  height: auto;
}
.news {
  text-align: left;

  margin-top: 22px;
}
.company {
  
  position: relative;
  border-bottom: none;
  background: #fef9ec;
  padding: 20px;
  line-height: 40px;
}
.news .employeer {
  border: 1px solid #e5e5e5;
}
.employeer {
  line-height: 40px;
}
.news .employeer {
  padding: 20px;
}
.employeer .tag {
  top: 95%;
  border-color: #dddddd;
}

.tag {
  background: #ffffff;
  padding: 5px 23px;

  box-sizing: border-box;
  border-radius: 4px;
  color: #ff4c00;
  font-size: 12px;
  line-height: 14px;
  position: absolute;
  top: -10%;
  left: 5%;
}
.company-avatar {
  float: left;
  margin-right: 10px;
}
.news .text {
  margin: 0 0 0 50px;
}
.company .text {
  background: rgba(242, 201, 76, 0.2);
  border-radius: 6px;
  width: 70%;
  line-height: 16.5px;
  padding: 10px;
}
.updates {
  padding: 20px 10px;
  text-align: left;
}
.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px;
}
.btn {
  background: #f8f8f8;
  border: 1px solid #dddddd;
  border-radius: 50px;
  margin-right: 10px;
}
