nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index:10;
  left: 15%;
  justify-content: center;
  padding: 20px;
  color: #1d1c1d; 
  ul {
    padding: 0;

  }
  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    color: #1d1c1d;
    cursor: pointer;
    list-style-type: none;
    height: 36px;
    line-height: 17px;
    margin: 10px auto;
    padding: 6px 7px;
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    .eva {
      margin-right: 10px;
    }
    &:hover {
      background: #ff4c00;
      border-radius: 8px;
      color: white;
      .eva {
        fill: #fff;
      }
      .mask path {
        fill: white;
      }
    }
    .mask {
      position: absolute;
      left: 80%;
      opacity: 0.5;
    }
  }
  a {
    color: black;

    &:hover {
      text-decoration: none;
    }
  }
  .title {
    font-weight: normal;
    cursor: pointer;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
  }
}
