.requests {
  display: flex;
  flex-direction: column;
  width: 320px;
  letter-spacing: 0.38px;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  background-color: #ffff;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
.link {
    cursor: pointer;
  }
  .title {
    color: #ff4c00;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    text-align: left;
    padding: 12px;
    &:first-child {
      background-color: #e5e5e5;
      color: #1d1c1d;
    }
  }
  .counter {
    background-color: #ff4c00;
    margin-left: 10px;
    color: #ffff;
    font-weight: 700;
    line-height: 17.5px;
    padding: 3px 4px;
    border-radius: 6px;
  }
  .slick-prev {
    left: 1%;
    z-index: 10;
  }
  .slick-next {
    right: 1%;
  }
  .slick-dots {
    bottom: 10px;

    li.slick-active button:before {
      opacity: 0.75;
      color: #ff4c00;
    }
  }
}

.content {
  .text-agreement {
    .counter {
      color: #27ae60;
      background-color: rgba(39, 174, 96, 0.1);
    }
  }
  
}
