.header {
  display: grid;
  background-color: white;
  padding: 10px;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-auto-columns: minmax(200px, auto);
  gap:5%;

}
.admin-name {
  margin: 0 20px 0 0;
}
.avatar-circle {
  position: absolute;

  border: 1px solid yellow;
  border-radius: 50%;
  padding: 10px;
  background-color: yellow;
}
.grid-item {
  text-align: center;
}

.info-window {
  border: 1px solid #dddddd;
  padding: 10px;
  border-radius: 10px;
  margin: 0;
}
