header {
  background-color: white;
  width: 100%;

  .name {
    font-size: 14px;
    min-width: 200px;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 68%;
    margin: 0 auto;
    span {
      .avatar {
        margin: 0 auto;
        width: 40px;
      }
    }
    .admin-name {
      width: 550px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .employee-position {
        margin-left: 10px;
        line-height: 17px;
      }
      p {
        margin: 0;
      }
    }
    .avatar {
      margin: 0 20px;
    }

    .line {
      width: 2px;
      height: 56px;
      margin: 0 5px;
      background-color: #dddddd;
    }

    .logo {
      padding: 0;
      width: 720px;
      min-width: 300px;
    }

    .info-window {
      border: 1px solid #dddddd;
      min-width: 172px;
      height: 36px;
      padding: 7px 12px;
      border-radius: 6px;
      margin-right: 20px;
      word-wrap: none;
      color: #959595;
      background: #f8f8f8;
    }
  }
}
