
.notification-content .text{
   text-align: left;
    padding:0 20px;
    font-size: 14px;
    
}
 .title{
   border-top: 1px solid #e5e5e5;
} 
.notification-content{
    height: 85%;
}
.notification-content .avatar{
float: unset;
}