.Grid {
  display: grid;
  padding: 10px;
  grid-template-areas:
    " nav employeers employeers employeers ."
    "nav requests calendar base ."
    ".  waterfall-news waterfall-news notificate notificate";
  grid-template-columns: 1fr;
 
grid-gap:1%
}

#nav {
  grid-area: nav;

}
#employeers {
  grid-area: employeers;
}
#calendar {
  grid-area: calendar;
}
#base {
  grid-area: base;
}
#requests {
  grid-area: requests;
}
#waterfall-news {
  grid-area: waterfall-news;
}
 #notificate{
   grid-area: notificate;
 }